/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b0b24;
  background-image: url(./images/backGround.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Стили для todo list */
.todo-list {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.todo-list__title {
  font-size: 44px;
  margin: 10px auto 30px;
  text-align: center;
}

.todo-list__create {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.todo-list__input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-list__items {
  list-style: none;
  padding: 0;
}

.todo-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.todo-list__item-text {
  flex: 1;
}

/* Добавляем стиль для выделенных чётных элементов */
.todo-list__item--highlighted {
  background-color: #f2f2f2;
}

.todo-list__item-text--completed {
  text-decoration: line-through; /* Добавляем зачеркивание текста */
  color: #aaa; /* Меняем цвет завершенных задач */
}

/* Стили для обычной кнопки */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2.5px;
}

.button:hover {
    background-color: #1976D2;
}

/* Стили для контурованной кнопки */
.outlined-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    color: #2196F3;
    border: 2px solid #2196F3;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.outlined-button:hover {
    background-color: #2196F3;
    color: #fff;
}

/* Скрываем блок с кнопками по умолчанию */
.todo-list__toggle-buttons {
    display: none;
}

/* Стили для кнопки, которая отображает/скрывает блок с кнопками */
.todo-list__toggle-buttons-button {
    margin-top: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.todo-list__toggle-buttons-button:hover {
    background-color: #1976D2;
}

.todo-list__no-tasks {
    display: none;
    color: #888;
    font-style: italic;
}

.todo-list__items .todo-list__no-tasks {
    display: block;
    text-align: center;
}